:root{
  --a: rgb(0,0,0);
  --b: rgb(255,255,255);
 --c: rgb(255, 208, 0);
 --clr-accent-400: hsl(142 90% 61%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease 8;
  height: 50vh;
  min-width: 500px;
  font-family: "Open Sans", sans-serif;
  

}

body::-webkit-scrollbar {
  width: 0.7rem;
}
body::-webkit-scrollbar-track {
  background: rgba(88, 88, 88, 0.8);
}
body::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 40px;
}
.card-area{
  padding-top:15px;
  display:flex;
  justify-content: space-around;
  place-items:center;
  line-height: 1.6;
  background: transparent;
  letter-spacing:1px;
  font-family: sans-serif;
  flex-wrap: wrap;
  gap:3em;
}
.card-area > *{
  flex: 0 1 50%;
}
h4{
  font-size:30px;
  transition:0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  letter-spacing:2px;
}
.card{
  margin:20px;
  box-shadow: 
  0 0 0 6px #ffff;
  box-shadow: 3px 9px 10px black;

}

.card-area .card:nth-child(1){
  color:var(--b);
  background-image: url("flask1.png"); 
  /* enter background image and use bkg-pos to change focus*/
  background-size:cover;
  background-position: bottom;
  background-repeat: no repeat;
  padding: 9rem 0 0;
  border-radius:30px;
  max-width:40ch;
  transition:0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  overflow:hidden;
  max-height:fit-content;
  transform: scaleY(0.9);
}

.card-area .card:nth-child(2){
  color:var(--b);
  background-image: url("cafe1.png"); 
  /* enter background image and use bkg-pos to change focus*/
  background-size:cover;
  background-position: center;
  background-repeat: no repeat;
  padding: 9rem 0 0;
  border-radius:30px;
  max-width:40ch;
  transition:0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  overflow:hidden;
  max-height:fit-content;
}

.card-area .card:nth-child(3){
  color:var(--b);
  background-image: url("liq_plus_icon.png"); 
  /* enter background image and use bkg-pos to change focus*/
  
  background-position: center;
  background-repeat: no repeat;
  padding: 9rem 0 0;
  border-radius:30px;
  max-width:40ch;
  transition:0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  overflow:hidden;
  background-size:cover;
  transform: scaleY(0.9);
}

.card-area .card:nth-child(4){
  color:var(--b);
  background-image: url("chain1.png"); 
  /* enter background image and use bkg-pos to change focus*/
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  padding: 9rem 0 0;
  border-radius:30px;
  max-width:40ch;
  transition:0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  overflow:hidden;
  
  transform: scaleY(0.95);
}
.card-area .card:nth-child(5){
  color:var(--b);
  background-image: url("stop1.png"); 
  /* enter background image and use bkg-pos to change focus*/
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  padding: 9rem 0 0;
  border-radius:30px;
  max-width:40ch;
  transition:0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  overflow:hidden;
  transform: scaleY(0.9);
}
.card-area .card:nth-child(6){
  color:var(--b);
  background-image: url("ttt1.png"); 
  /* enter background image and use bkg-pos to change focus*/
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  padding: 9rem 0 0;
  border-radius:30px;
  max-width:40ch;
  transition:0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  overflow:hidden;
  
  transform: scaleY(1.09);
}

.card:hover{
  transform: scale(1.03);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  padding: 1.5em;
  background: linear-gradient(
      hsl(0 0% 0% / 0),
      hsl(20 0% 0% / 0.3) 20%, 
      hsl(0 0% 0%/1)
  );
  transform: translateY(65%);
  transition:0.3s cubic-bezier(0.47, 0, 0.745, 0.715)

}

.card:hover .card-content{
  transform: translateY(0);
  
}
.card:hover h4{
  
  font-size:25px;
  letter-spacing: 1px;
}

.card-content > *:not(.card-title){
  opacity: 0;
  transition:opacity 300ms linear;
}
.card:hover .card-content{
  transform: translateY(0);
  
}
.card:hover .card-content >*:not(.card-title){
  opacity:1;
}
.card-title{
 
  position:relative;
  width: max-content;
}
.card-title::after{
  content:"";
  border-radius:30px;
  position:absolute;
  height:4px;
  width:100%;
  left:calc(var(--padding)*-1);
  width: calc(100% +var(--padding));
  bottom: 0;
  background-color:var(--clr-accent-400);
  transform: scaleX(0);
  transform-origin: left;
  transition:0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

}
.card:hover .card-title::after{
  transform: scaleX(1);

}
.card-body{
  font-size:18px;
  color:rgba(255,255,255,0.9);

}
.card-button{
cursor:pointer;
display:inline-block;
background-color: var(--clr-accent-400);
text-decoration: none;
color:black;
padding:0.5em 1.25em;
border-radius: 0.25rem;
transition:0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
}

.card-button:hover,
.card-button:focus{
  background-color: white;

}
/*body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/

section {
  background-color: rgb(255, 255, 255, 0);
  padding: 10px;
}
.underl{
  border-radius: 30px;
  background-image:linear-gradient(45deg,#23d5ab, #23a6d5);
  padding:8px 20px 8px 20px;
  border: 2px white;
  text-decoration:none;
  transition:background-size 200ms ease-in-out;
  text-decoration: none;
  color: white;
  font-size: 22px;
  transition: 300ms ease-in-out;
}
.underl:hover{
  background-image:linear-gradient(90deg,#23d5ab, #23a6d5);
  border-radius: 0px;
  
}
.hero {
  font-family: "Open Sans", sans-serif;
}

footer {
  background-color: black;
  /*color: white;*/
  text-align: center;
  padding: 80px;
}

nav {
  width: 100%;
  background-image:linear-gradient(90deg, rgba(255,255,255,0.9), rgba(255,255,255,0.01), white);
 background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  position: fixed;
  left: 11px;
  right: 10px;
  border-radius: 25px 0px 0px 25px;
  justify-content: space-between;
  font-weight: 600;
  z-index: 5;
}
.logo {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.2s ease-in;
  background:  black;
  -webkit-text-fill-color:transparent;
  -webkit-background-clip:text;
}
nav .nav-bar {
  padding: 20px;
  display: flex;
}
nav .nav-bar .nav-bar_item {
  list-style-type: none;
  padding: 0px 20px;
}
nav .nav-bar .nav-bar_item a {
  position: relative;
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: all 0.1s ease-in;
}
nav .nav-bar .nav-bar_item a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  color: white;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: 0.1s ease-in-out;
}
nav .nav-bar .nav-bar_item :hover {
  color: black;
}
nav .nav-bar .nav-bar_item a:hover:after {
  width: 100%;
  color: black;
}
#logo {
  position: relative;
  top: 15em;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: fill 4s ease forwards 4s;
  
}
#logo path:nth-child(1) {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: line-anim 4s cubic-bezier(0.94, 0.14, 0.39, 1.01) forwards;
}

h2 {
  position: relative;
  top: 9em;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 35px;
  letter-spacing: 8px;
  font-family: "Roboto", sans-serif;
  color: white;
}
#link {
  font-size: 30px;
  padding:12px 23px 12px 23px;

  color: white;
  scroll-margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  
  cursor:default;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

h3 {
  
  text-transform: uppercase;
  color:white;
  text-shadow: black 2px 0 10px;
  background-color: rgba(0, 0, 255, 0.2);
  margin-left: 30px;
  margin-right: 30px;
  background-image:);
  padding: 21px;
  display: inline-block;
  border-radius: 20px 20px 0% 0%;
  font-size: 40px;
}
#work{
  margin-left:50%;
  background-color: rgba(0, 0, 255, 0.2);
  padding: 21px 30px 21px 30px;
  display: inline-block;
  border-radius: 20px 20px 0% 0%;
  font-size: 40px;
  scroll-margin-top: 100px; 
  border-radius:30px 30px 30px 30px;
  transform: translate(-50%, 0%);
  cursor:default;
  
  text-transform: uppercase;
}


.title {
  font-size: 30px;
  font-weight: 500;
  padding-top: 7px;
  padding-bottom: 7px;
}
.p1 {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  width: auto;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  border-radius: 0px 20px 20px 20px;
  text-decoration: none;
}
.p2 {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  width: auto;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 0px 20px 0px 0px;
  padding: 20px;
  text-decoration: none;
}
.pmid {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  width: auto;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 0px 0px 0px 0px;
  padding: 20px;
  text-decoration: none;
}
.p3 {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  width: auto;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  text-decoration: none;
}

.cont {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  border-radius: 20px 20px 0px 0px;
  text-decoration: none;
}
.contact {
  text-align:left;
  padding-left:20px;
  padding-right:2rem;
  padding-bottom:15px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 20px 20px 0px 0px;
  color: white;
}
